@model med_projec_roles_added.Models.ApplicationUser

@{
    ViewBag.Title = "EditPacientInfo";
}

<h2>EditPacientInfo | Pacient : @ViewBag.Email </h2>

@using (Html.BeginForm("EditPacientInfo", "Doctor",FormMethod.Post))
{
    @Html.EditorFor(model => model.Email)
    @Html.EditorFor(model => model.PacientInfo)
  
    <input type="submit" value="Save" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
