
@model med_projec_roles_added.Models.GroupedUserViewModel
<div>
    <h2>Список доступных пациентов</h2>
        @foreach (var user in Model.Pacient)
        {
           
            <p>
                <strong>@user.Username | @ViewBag.Pacient | @Html.ActionLink("Обновить информацию о пациенте ", "EditPacientInfo", "Doctor",new {name = user.Username},null) </strong>
            </p>
      
    }

</div>

